@{
    
    var rnd = DateTime.Now;
    var storekey = Model.Account.StoreKey;
    var total = Convert.ToDecimal(Model.Pay.Total).ToString("N2").Replace(".", "").Replace(",", ".");
    var orderId = string.Format("{0}-{1}", DateTime.Now.ToString("ddMMyyyyhhmmss"), Model.Pay.ProcessId.ToUpper());
    var installment = Model.Pay.Installment == 1 ? "" : Model.Pay.Installment;

    string hashstr = Model.Account.ClientId + orderId + total + Model.Extra.SuccessUrl + Model.Extra.ErrorUrl + "Auth" + installment + rnd + storekey;

    System.Security.Cryptography.SHA1 sha = new System.Security.Cryptography.SHA1CryptoServiceProvider();
    byte[] hashbytes = System.Text.Encoding.GetEncoding("ISO-8859-9").GetBytes(hashstr);
    byte[] inputbytes = sha.ComputeHash(hashbytes);
    String hash = Convert.ToBase64String(inputbytes);
    

}

<form method="post" action="@(Model.Extra.Url)/est3Dgate">

    <input type="hidden" name="pan" value="@(Model.Pay.CardNumber)" size="20"/>
    <input type="hidden" name="cv2" size="4" value="@(Model.Pay.CVV2)"/>
    <input type="hidden" name="Ecom_Payment_Card_ExpDate_Year" value="@(Model.Pay.ExpireDate.Substring(2, 2))"/>
    <input type="hidden" name="Ecom_Payment_Card_ExpDate_Month" value="@(Model.Pay.ExpireDate.Substring(0, 2))"/>
    <input type="hidden" name="cardType" value="visa" />


    <input type="hidden" name="currency" value="949">
    <input type="hidden" name="clientid" value="@(Model.Account.ClientId)">
    <input type="hidden" name="amount" value="@(total)">
    <input type="hidden" name="oid" value="@(orderId)">
    <input type="hidden" name="okUrl" value="@(Model.Extra.SuccessUrl)">
    <input type="hidden" name="failUrl" value="@(Model.Extra.ErrorUrl)">
    <input type="hidden" name="rnd" value="@(rnd)" >
    <input type="hidden" name="hash" value="@(hash)" >
    <input type="hidden" name="islemtipi" value="Auth" />
    <input type="hidden" name="taksit" value="@(installment)" />
    <input type="hidden" name="storetype" value="3D">
    <input type="hidden" name="lang" value="tr">
</form>
